EjercicioSpringWS02/src/conf/xml-resources/web-service-references/AlumnoService/wsdl/localhost_8080/AlumnoService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6b10  svn-revision#12759. --><xs:schema xmlns:tns="http://escuela/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://escuela/">

<xs:element name="lista" type="tns:lista"/>

<xs:element name="listaResponse" type="tns:listaResponse"/>

<xs:element name="obtieneAlumno" type="tns:obtieneAlumno"/>

<xs:element name="obtieneAlumnoResponse" type="tns:obtieneAlumnoResponse"/>

<xs:complexType name="obtieneAlumno">
<xs:sequence>
<xs:element name="arg0" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtieneAlumnoResponse">
<xs:sequence>
<xs:element name="return" type="tns:alumno" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="alumno">
<xs:sequence>
<xs:element name="apellido" type="xs:string" minOccurs="0"/>
<xs:element name="archivo" type="xs:base64Binary" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="nombreImagen" type="xs:string" minOccurs="0"/>
<xs:element name="tamanoImagen" type="xs:long" minOccurs="0"/>
<xs:element name="tipoImagen" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="lista">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listaResponse">
<xs:sequence>
<xs:element name="return" type="tns:alumno" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>