EjercicioSpringWS02/src/java/META-INF/AlumnoService.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6b10  svn-revision#12759. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6b10  svn-revision#12759. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://escuela/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://escuela/" name="AlumnoService">
<types>
<xsd:schema>
<xsd:import namespace="http://escuela/" schemaLocation="http://localhost:8080/AlumnoService?xsd=1"/>
</xsd:schema>
</types>
<message name="lista">
<part name="parameters" element="tns:lista"/>
</message>
<message name="listaResponse">
<part name="parameters" element="tns:listaResponse"/>
</message>
<message name="creaAlumno">
<part name="parameters" element="tns:creaAlumno"/>
</message>
<message name="creaAlumnoResponse">
<part name="parameters" element="tns:creaAlumnoResponse"/>
</message>
<message name="actualizaAlumno">
<part name="parameters" element="tns:actualizaAlumno"/>
</message>
<message name="actualizaAlumnoResponse">
<part name="parameters" element="tns:actualizaAlumnoResponse"/>
</message>
<message name="inicializa">
<part name="parameters" element="tns:inicializa"/>
</message>
<message name="inicializaResponse">
<part name="parameters" element="tns:inicializaResponse"/>
</message>
<message name="obtieneAlumno">
<part name="parameters" element="tns:obtieneAlumno"/>
</message>
<message name="obtieneAlumnoResponse">
<part name="parameters" element="tns:obtieneAlumnoResponse"/>
</message>
<portType name="AlumnoServiceEndPoint">
<operation name="lista">
<input wsam:Action="http://escuela/AlumnoServiceEndPoint/listaRequest" message="tns:lista"/>
<output wsam:Action="http://escuela/AlumnoServiceEndPoint/listaResponse" message="tns:listaResponse"/>
</operation>
<operation name="creaAlumno">
<input wsam:Action="http://escuela/AlumnoServiceEndPoint/creaAlumnoRequest" message="tns:creaAlumno"/>
<output wsam:Action="http://escuela/AlumnoServiceEndPoint/creaAlumnoResponse" message="tns:creaAlumnoResponse"/>
</operation>
<operation name="actualizaAlumno">
<input wsam:Action="http://escuela/AlumnoServiceEndPoint/actualizaAlumnoRequest" message="tns:actualizaAlumno"/>
<output wsam:Action="http://escuela/AlumnoServiceEndPoint/actualizaAlumnoResponse" message="tns:actualizaAlumnoResponse"/>
</operation>
<operation name="inicializa">
<input wsam:Action="http://escuela/AlumnoServiceEndPoint/inicializaRequest" message="tns:inicializa"/>
<output wsam:Action="http://escuela/AlumnoServiceEndPoint/inicializaResponse" message="tns:inicializaResponse"/>
</operation>
<operation name="obtieneAlumno">
<input wsam:Action="http://escuela/AlumnoServiceEndPoint/obtieneAlumnoRequest" message="tns:obtieneAlumno"/>
<output wsam:Action="http://escuela/AlumnoServiceEndPoint/obtieneAlumnoResponse" message="tns:obtieneAlumnoResponse"/>
</operation>
</portType>
<binding name="AlumnoServiceEndPointPortBinding" type="tns:AlumnoServiceEndPoint">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="lista">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="creaAlumno">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actualizaAlumno">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="inicializa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtieneAlumno">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="AlumnoService">
<port name="AlumnoServiceEndPointPort" binding="tns:AlumnoServiceEndPointPortBinding">
<soap:address location="http://localhost:8080/AlumnoService"/>
</port>
</service>
</definitions>